<div  style="float: left; width: 80%;">
<br>
  <section class="container" style="width: 120%">
    <div class="row active-with-click">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Red">
          <h2>
            <span>Christopher Walken</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              The Deer Hunter
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img class="img-responsive" src="images/thumb-christopher-walken.jpg">
            </div>
            
          </div>
          <a class="mc-btn-action" href="#/excellent/1">
            <i class="fa fa-bars">了解</i>
          </a>
         
        </article>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Pink">
          <h2>
            <span>Sean Penn</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              Mystic River
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img class="img-responsive" src="images/thumb-sean-penn.jpg">
            </div>
           
          </div>
          <a class="mc-btn-action">
            <i class="fa fa-bars">了解</i>
          </a>
          
        </article>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Purple">
          <h2>
            <span>Clint Eastwood</span>
            <strong>
              <i class="fa fa-fw fa-star"</i>
              Million Dollar Baby
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img class="img-responsive" src="images/thumb-clint-eastwood.jpg">
            </div>
          </div>
          <a class="mc-btn-action">
            <i class="fa fa-bars">了解</i>
          </a>
        </article>
      </div>
    <!--</div>-->
    <!--<div class="row active-with-hover">-->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Deep-Purple">
          <h2>
            <span>Dustin Hoffman</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              Kramer vs. Kramer
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img class="img-responsive" src="images/thumb-dustin-hoffman.jpg">
            </div>
          </div>
          <a class="mc-btn-action">
            <i class="fa fa-bars">了解</i>
          </a>
        </article>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Indigo">
          <h2>
            <span>Edward Norton</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              American History X
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img class="img-responsive" src="images/thumb-edward-norton.jpg">
            </div>
          </div>
          <a class="mc-btn-action">
            <i class="fa fa-bars">了解</i>
          </a>
        </article>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Blue">
          <h2>
            <span>Michael Caine</span>
            <strong>
              <i class="fa fa-fw fa-star"></i>
              Educated Rita
            </strong>
          </h2>
          <div class="mc-content">
            <div class="img-container">
              <img class="img-responsive" src="images/thumb-michael-caine.jpg">
            </div>
          </div>
          <a class="mc-btn-action">
            <i class="fa fa-bars">了解</i>
          </a>
        </article>
      </div>
    </div>
  </section>
</div>

