<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTabs">
    <li role="presentation" class="active" style="font-size: 1rem"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">穆斌教授</a></li>
    <li role="presentation" style="font-size: 1rem"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">袁时金副教授</a></li>
    <!-- <li role="presentation" style="font-size: 1rem"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">导师联系方式</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="introduce-wrapper">
    <div role="tabpanel" class="tab-pane active" id="home" >
      <div id="teacherimage" >
        <div id="imagewrapper">
          <img src="styles/images/mubin.jpg" alt="">
        </div>
       <div id="name">
         <span id="ch" style="font-family: STKaiti,KaiTi;">穆斌</span>
         <span id="eng" style="font-family: STKaiti,KaiTi;">MU BIN</span>
         <span id="post" style="font-family: STKaiti,KaiTi;">教授，博导，软件学院副院长</span>
       </div>
       <div id="maincourse">
         <span style="font-family: STKaiti,KaiTi;">
           主讲课程：
         </span>
         <span id="course" style="font-family: STKaiti,KaiTi;">
           数据库原理与应用（国家双语教学示范课程、上海市重点课程、上海高校示范性全英语教学课程）；
         </span>
         <span id="course" style="font-family: STKaiti,KaiTi;">
           大型数据库系统分析与设计；
         </span>
       </div>
      </div>
      <span id="project">
        近两年主持承担的科研项目
      </span>
      <ul id="laproject">
              <li style="font-family: STKaiti,KaiTi;">>>1.国家科技支撑计划重大项目二级课题“高速磁浮半实物仿真平台集成测试与仿真管理系统研制”，主持；</li>
              <li style="font-family: STKaiti,KaiTi;">>>2.国家自然科学基金项目“智能算法求解CNOP性能优化及其应用”，第二负责人；</li>
              <li style="font-family: STKaiti,KaiTi;">>>3.国家重点基础研究发展计划（973计划）课题“信息服务的运行支撑平台及在交通和医疗信息服务中的实证研究”，第二负责人；</li>
              <li style="font-family: STKaiti,KaiTi;">>>4.国家科技支撑计划重大项目二级课题“高速磁浮交通规划设计综合仿真系统优化”，第二负责人；</li>
              <li style="font-family: STKaiti,KaiTi;">>>5.地方政府智慧城市建设示范工程项目“太仓市智慧城市大数据智能分析系统研发”，主持；</li>
              <li style="font-family: STKaiti,KaiTi;">>>6.地方政府智慧城市建设示范工程项目“太仓市智慧城市IOC-KPI系统研发”，第二负责人；</li>
      </ul>
       <span id="project">
        近两年发表的部分学术论文
      </span>
      <ul id="laproject">
               <li style="font-family: STKaiti,KaiTi;">>>1.温仕成、穆斌、袁时金等，“PPSO: PCA based particle swarm optimization for solving conditional nonlinear optimal perturbation”， 
   Computers &amp; Geosciences（SCI），(Accepted)</li>
            <li style="font-family: STKaiti,KaiTi;">>>2.穆斌、张琳琳、袁时金等，“PCAGA: Principal Component Analysis Based Genetic Algorithm for Solving Conditional Nonlinear Optimal Perturbation”， 
   IJCNN 2015：International Joint Conference on Neural Networks，2015年7月，Killarney，Ireland（基拉尼，爱尔兰）</li>
            <li style="font-family: STKaiti,KaiTi;">>>3.穆斌、陈复新、袁时金，“User-QoS-based Web Service Clustering for QoS Prediction”， 
   ICWS 2015：the 22nd IEEE International Conference on Web Services,2015年6月, New York City,USA （纽约，美国）</li>
            <li style="font-family: STKaiti,KaiTi;">>>4.温仕成、穆斌、袁时金等，“PCGD: Principal components based great deluge method for solving CNOP”， 
   CEC 2015：IEEE 2015 Congress on Evolutionary Computation，2015年5月，Sendai,Japan （仙台，日本）</li>
            <li style="font-family: STKaiti,KaiTi;">>>5.温仕成、袁时金、穆斌等，“Robust PCA-based genetic algorithm for solving CNOP”，
   ICIC2015：the 11th International Conference on Intelligent Computing (EI)，2015年8月，Springer: Lecture Notes in Computer Sciences (LNCS).</li>
            <li style="font-family: STKaiti,KaiTi;">>>6.温仕成、袁时金、穆斌等，“SAEP: Simulated Annealing Based Ensemble Projecting Method for Solving Conditional Nonlinear Optimal Perturbation”， 
   ICA3PP 2014：the 14th International Conference on Algorithms and Architectures for Parallel Processing (EI, CCF C类),2014年8月，ICA3PP pp.655-668 </li>
            <li style="font-family: STKaiti,KaiTi;">>>7.穆斌、温仕成、袁时金等，“Orthogonal Neighborhood Preservation Projection Based Method for Solving CNOP”， 
   ICIC2014：the 10th International Conference on Intelligent Computing (EI), 2014年8月，ICIC2014 pp.120-126</li>
            <li style="font-family: STKaiti,KaiTi;">>>8.穆斌、李素、袁时金，“QoS-Aware Cloud Service Selection Based on Uncertain User Preference”，
   RSKT 2014: the 9th International Conference on Rough Sets and Knowledge Technology，2014年10月, Lecture Notes in Artificial Intelligence，RSKT2014：pp.589-600 </li>
            <li style="font-family: STKaiti,KaiTi;">>>9.Wanchun Yang、Chenxi Zhang、Bin Mu，“Towards mashup optimisation with global constraints in the cloud”，
   International Journal of Grid and Utility Computing，2014、Vol.5，No.4：pp.227-235</li>
      </ul>
       <span id="project" style="font-family: STKaiti,KaiTi;">
        其他
      </span>
      <ul id="laproject">
              <li style="font-family: STKaiti,KaiTi;">加拿大纽布伦瑞克大学高级访问学者 </li>
              
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div id="teacherimage" >
        <div id="imagewrapper">
          <img src="styles/images/yuanshijin.jpg" alt="">
        </div>
       <div id="name">
         <span id="ch">袁时金</span>
         <span id="eng">YUAN SHI JIN</span>
         <span id="post">副教授，博士</span>
       </div>
       <div id="maincourse">
         <span>
           主讲课程：
         </span>
         <span id="course">
           数据库原理与应用
         </span>
         <span id="course">
           服务科学与服务工程
         </span>
         <span id="course">
           SQL SERVER支持与服务
         </span>
         <span id="course">
           java企业级程序设计
         </span>
         <span id="course">
           面向对象程序设计
         </span>
       </div>
      </div>
      <span id="project">
        近期主持/承担的科研项目
      </span>
      <ul id="laproject">
              <li>>>2010年至2014年共主持项目4项（国家级项目2项，地方政府纵向项目2项），参与项目8项。</li>
      </ul>
       <span id="project">
        主持
      </span>
      <ul id="laproject">
              <li>>>1.国家自然科学基金青年基金项目“智能算法求解CNOP性能优化及其应用”，起止年月“2015年01月至2017年12月”。</li>
              <li>>>2.国家科技部国际科技合作计划项目“资源运营模式及其支持技术研究”，起止年月“2007年3月至2010年3月”。</li>
              <li>>>3.地方政府纵向项目“太仓市智慧城市运营中心（IOC）基础架构建设与软件研发一期工程”，起止年月“2013年10月至2014年10月”。</li>
              <li>>>4.产学研战略合作纵向项目“沈阳机床客户服务业务系统三期工程”，起止年月“2011年06至2013年12月”。</li>

      </ul>
      <span id="project">
        参与：
      </span>
      <ul id="laproject">
              <li>>>1.国家重点基础研究发展计划（973计划）课题“信息服务的运行支撑平台及在交通和医疗信息服务中的实证研究”，本人排名第五，起止年月“2010年1月至2014年12月”。</li>
              <li>>>2.国家科技支撑计划重大项目二级课题“高速磁浮交通规划设计综合仿真系统支撑环境软件建设及数据库研制”，本人排名第二，起止年月“2008年9月至2011年12月”。。</li>
              <li>>>3.国家科技支撑计划重大项目二级课题“牵引供电分析设计仿真系统的辅助设计及软件开发”，本人排名第二，起止年月“2009年3月至2011年12月”。</li>
              <li>>>4.国家科技支撑计划重大项目二级课题“高速磁浮28km半实物仿真系统综合集成测试与管理平台研制”，本人排名第二，起止年月“2009年6月至2012年12月”。</li>
              <li>>>5.国家高技术研究发展计划（863计划）二级课题“海气耦合模式CNOP的高效并行算法及其优化”，本人排名第三，起止年月“2011年1月至2012年12月”。</li>
              <li>>>6.中国科学院知识创新工程重要方向项目“黑潮路径变异的数值模拟与分析研究”，本人排名第二，起止年月“2011年1月至2013年12月”。</li>
              <li>>>7.地方政府纵向项目“智慧太仓总体规划设计及基础数据库建设”，本人排名第二，起止年月“2012年7月至2013年7月”。</li>
              <li>>>8.产学研战略合作纵向项目“沈阳机床客户服务业务系统二期工程”，本人排名第二，起止年月“2009年9月至2012年4月”。</li>
      </ul>
       <span id="project">
        近两年发表的部分学术论文
      </span>
      <ul id="laproject">
                <li>>>1.袁时金、穆斌，2010年6月，“Implementation for Full-text Search and Rank Optimization in E-commerce”，IEEE: Proceedings of 2010 International Conference on Computer Design and Applications (ICCDA 2010)，EI。</li>
            <li>>>2.袁时金、穆斌，2010年8月，“Implementation for electronic seal-stamping using self-certified public key in e-commerce”，IEEE: Proceedings of 2010 International Conference on Internet Technology and Applications  (iTAP 2010)，EI。 </li>
            <li>>>3.袁时金、穆斌，2011年7月，“A Method and Protocols for E-payment in E-commerce”，IEEE: Proceedings of  3rd International Conference on Computer Engineering and Application (ICCEA2011)，ISBN: 978-981-08-9196-1。</li>
            <li>>>4.余海燕、袁时金，2011年6月，“Influence of Transformation-induced Plasticity on Formability of TRIP Steels”，8th International Conference and Workshop on Numerical Simulation of 3D Sheet Metal Forming Processes (Numisheet 2011),SCI: BXF38。
</li>
            <li>>>5.穆斌、杨雨龙、袁时金（*），2011年2月，“IP Multicasting Video Conferencing Model Based on JAIN and JMF”，IEEE: Proceedings of 3rd International Conference on Computer and Network Technology (ICCNT 2011)，ISBN: 978-1-4244-9057-8。</li>
             <li>>>6.穆斌、孙琳、袁时金（*），2011年1月，“The Implementation Of a Global Address Engine”，IEEE: Proceedings of the 2nd International Conference on Information Science and Engineering (ICISE2010)，EI: 20110913704952。</li>
             <li>>>7.穆斌、肖峰、袁时金（*），2012年6月，“A rule-based disease self-inspection and hospital registration recommendation system”，Proceedings of 2012 IEEE 3rd International Conference on Software Engineering and Service Science (ICSESS 2012)，EI: 20123915469184</li>
             <li>>>8.穆斌、熊诚、袁时金（*），2012年10月，“An App Engine Based Implementation of Personal Health Records System”，Lecture Notes in Electrical Engineering (ICISME2012),Springer London</li>
             <li>>>9.袁时金、温仕成、李宏宇、张新峰、刘琴，2013年7月，An optimization framework for adjoint-based climate simulations: A case study of the Zebiak-Cane model, International Journal of High Performance Computing Applications(SCI)，28(2): 174-182. </li>
             <li>>>10.温仕成、袁时金（*）、李宏宇、穆斌，2013年11月，“Robust Ensemble Feature Extraction for Solving Conditional Nonlinear Optimal Perturbation”，15th IEEE International Conference on High Performance Computing and Communications(EI, CCF C类) &amp; International Journal of Computational Science and Engineering(EI) .</li>
             <li>>>11.穆斌、王佩琪、袁时金（*），2013年5月，“A Requirement Evolution System For Medical Service Composition”，Proceedings of 2013 IEEE 4th International Conference on Software Engineering and Service Science (ICSESS 2013)(EI).</li>
             <li>>>12.穆斌、刘晴晴、袁时金（*），2013年11月，“An Improved User-Oriented Web Services Composition Framework”，Proceedings of the 3rd IEEE International Conference on Computer Science and Automation Engineering(CSAE 2013)(EI) .</li>
             <li>1>>3.李宏宇、周玮瑜、袁时金（*）、温仕成，2013年11月，“ACStack: Adaptive Composite Stack for Adjoint Models in Code Optimization, 15th IEEE International Conference on High Performance Computing and Communications (EI, CCF C类) . </li>
             <li>>>14.李宏宇、卞杰、袁时金（*）、秦嘉川，2013年11月，Parallel Optimization of the MM5 Adjoint Model, 15th IEEE International Conference on High Performance Computing and Communications (EI, CCF C类). </li>
             <li>1>>5.李宏宇、秦嘉川、袁时金（*）、卞杰，2013年10月，Code parallel refactoring of the Zebiak-Cane model based on JASMIN, 3rd Int. Conference on Computer Science and Network Technology(EI).</li>
             <li>>>16.穆斌、温仕成、袁时金(*)、李宏宇，2014年7月，Orthogonal Neighborhood Preservation Projection Based Method for Solving CNOP. ICIC (EI) (1) 2014: 120-126</li>
             <li>>>17.温仕成、袁时金（*）、穆斌、李宏宇、陈磊，2014年8月， SAEP: Simulated Annealing Based Ensemble Projecting Method for Solving Conditional Nonlinear Optimal Perturbation. ICA3PP (EI, CCF C类) (1) 2014: 655-668. </li>
      </ul>
    </div>
    <!-- <div role="tabpanel" class="tab-pane" id="messages">
      <span style="display: block; line-height: 30px;font-size: 2rem">穆斌老师电子邮箱：binmu@tongji.edu.cn</span>
      <span style="display: block; line-height: 30px;font-size: 2rem">袁时金老师电子邮箱：yuanshijin2003@163.com</span>
    </div> -->
  </div>

</div>